<!DOCTYPE html>
<html lang="en">
  

<head>
  <title>Course Schedule22222</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="jquery.datetimepicker.css">
</head>

<body>

  <div class="container">

    <h2>Date</h2>
    <input id="datetimepicker" type="text" value="date">


    <h2>Course</h2>
    <select id="course">
      <option value="ACLS" > ACLS </option>
      <option value="PALS"> PALS </option>
      <option value="BLS"> BLS </option>
    </select>

    <h2>Location</h2>
    <select id="location">
    <option value="Roseville"> Roseville </option>
    <option value="West Sac"> West Sac </option>
    <option value="DGMC"> DGMC </option>
    </select>


    <h2>Instructor List</h2>

    <label for="cd-instructor-entry">Director</label>
    <input type="text" name="courseDirector" id="courseDirector" placeholder="Course Instructor">

    <label for="assist1-entry">Assist 1</label>
    <input type="text" name="assist1" id="assist1" placeholder="Assist">

    <label for="assist2-entry">Assist 2</label>
    <input type="text" name="assist2" id="assist2" placeholder="Assist">

    <label for="assist3-entry">Assist 3</label>
    <input type="text" name="assist3" id="assist3" placeholder="Assist">
    <input type="hidden" value="<%=user.local.email%>" id="loggedInAs">
    <input id="submit_form" type="submit" value="Submit">
    <hr>


  </div>
  <div class="calendar"></div>





  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="jquery.datetimepicker.js"></script>
  <script>
    $(document).ready(function () {


      $('#submit_form').click(function () {
        var data = {};
        data.date = $('#datetimepicker').val();
        data.course = $('#course').val();
        data.location = $('#location').val();
        data.courseDirector = $('#courseDirector').val();
        data.assist1 = $('#assist1').val();
        data.assist2 = $('#assist2').val();
        data.assist3 = $('#assist3').val();
        data.user = $('#loggedInAs').val();
        console.log(data);
        $.ajax({
          type: 'post',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: '/course'
        })
        getCourses();
      }) //END OF SUBMITFORMCLICK


      function getCourses() {
        $.getJSON('/course', function (docs) {
          console.log(docs);
          $('.calendar').html('');
          $.each(docs, function (key, value) {
            var location = value.location;
            var course = value.course;
            var courseDirector = value.courseDirector;
            var date = value.date;
            var assist1 = value.assist1;
            var assist2 = value.assist2;
            var assist3 = value.assist3;
            var user = value.user;
            if(user===$('#loggedInAs').val())
            { 
                var editable = '<button class="del"> Delete2 </button>  <button class="update"> Update2 </button>'

            }
            else {
              var editable = 'not posted by you'
            }
            $('.calendar').prepend('<div id="' + value._id + '"><span class="date"> ' + date +
              '</span> <span class="course"> ' + course + '</span> ' + location + ' ' + courseDirector +
              ' ' + assist1 + ' ' + 
              assist2 + ' ' + assist3 + editable +
               '</div><br />'
            );
          }) //END OF EACH
      $('.del').click(function () {
        var idToDelete = $(this).parent('div').attr('id')
        console.log(idToDelete);
        $.ajax({
          type: 'delete',
          url: '/course/' + idToDelete
        })
        getCourses();
      }) //END CLICK DELETE FUNCTION


      $('.update').click(function () {
        console.log('update');
        $(this).hide()
        $(this).siblings(".del").hide()
        $(this).parent("div").append('<button class="save"> Save </button>')
        var idToUpdate = $(this).parent('div').attr('id')
        var date = $(this).siblings(".date").text();
        $(this).siblings(".date").html('<input type = "text" class = "updatedDate" value = ' + date + '>')
        var course = $(this).siblings(".course").text();
        $(this).siblings(".course").html('<input type = "text" class = "updatedCourse" value = ' + course +
          '>')
        $('.save').click(function () {
          var date = $(this).siblings('.date').children('updatedDate').val()
          console.log(date);
        })
      }) // End Update Click



        }) //END OF GETJSON
      } //END GETCOURSES FUNCTION




      getCourses();
      $('#datetimepicker').datetimepicker({
      }); //END DATETIMEPICKER
    })
  </script>
</body>

</html>